@(title: String, id: Long = -1L)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title - Scala-MDWiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    @* <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script> *@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> *@
    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("stylesheets/markdown.min.css")">
    @* <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/github.css")"> *@
    @* <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/swiss.css")"> *@
    @* <link rel="stylesheet" media="screen" href="http://sindresorhus.com/github-markdown-css/github-markdown.css" /> *@
    @* <link rel="stylesheet" media="screen" href="https://gist.githubusercontent.com/andyferra/2554919/raw/10ce87fe71b23216e3075d5648b8b9e56f7758e1/github.css" /> *@
    @* <link rel="stylesheet" media="screen" href="http://jasonm23.github.io/markdown-css-themes/swiss.css" /> *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/print.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wikiトップ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-file-text"></i> @title</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="@me.nsmr.scala_mdwiki.controllers.routes.Application.add"><i class="fa fa-plus"></i> Add new page</a></li>
          @if(id>=0) {
            <li><a href="@me.nsmr.scala_mdwiki.controllers.routes.Application.edit(id)"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
            <li><a href="@me.nsmr.scala_mdwiki.controllers.routes.Application.download(id)"><i class="fa fa-download"></i> Download</a></li>
          }
          <li><a href="#" data-toggle="modal" data-target="#upload-modal"><i class="fa fa-upload"></i> Upload</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search" action="/search" method="get">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="keyword" value="">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>  検索</button>
          </form>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    <div id="main">
      @content
    </div>
<!-- Modal -->
<form method="post" enctype="multipart/form-data" action="/upload">
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Markdown file</h4>
      </div>
      <div class="modal-body">
        <p>Please select Markdown file to upload.</p>
        <input type="file" name="mdfile" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</button>
      </div>
    </div>
  </div>
</div>
</form>
  </body>
</html>
